node_modules
.DS_Store
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log
*.swp
/.history
coverage
/playwright-report/
/playwright/.cache/
/test-results/

dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
!.vscode/*.code-snippets

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.obsidian
random
content/orphaned files output.md

html
